<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type='text/css' href="/static/signup.css">
</head>
<body>
<div class="container">
    <div class="blueBg">
    </div>
    <div class="formBx">
        <div class="form signinForm">
            <form method="post">
                {% csrf_token %}
                <h2>Sign up</h2>
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit">Sign up</button>

                <button type="submit"><a href="{% url 'account:login' %}" class="login" style="text-decoration: none;">Login</a>
                </button>
                <button type="submit"><a href="{% url 'home:home' %}" class="home"
                                         style="text-decoration: none;">Home</a></button>
            </form>
        </div>
