{% extends 'base.html' %}
{% block title %}صفحه اصلی{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">صفحه اصلی</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'product:category_list' %}">محصولات</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


{% endblock %}
