<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم ورود</title>
    <link rel="stylesheet" type='text/css' href="/static/login.css">
  </head>
  <body>
    <div class="container">
      <div class="blueBg">
      </div>
      <div class="formBx">
        <div class="form signinForm">
          <form method="post">
            {% csrf_token %}
            <h3>ورود</h3>
            <input type="text" name='username' maxlength="150" autofocus autocapitalize='none' autocomplete="username" required id='id_username' placeholder="نام کاربری">
            <input type="password" name="password" required id='id_password' placeholder="رمز">

            <input type="submit" value="ورود">
            <button type="submit"><a href="{% url 'account:signup' %}" class="signup" style="text-decoration: none;">ثبت نام</a></button>
            <button type="submit"><a href="{% url 'home:home' %}" class="home" style="text-decoration: none;">صفحه اصلی</a></button>
            <a href="#" class="forget" style="text-decoration: none;">آیا رمز خود را فراموش کرده اید؟</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
