<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive sliding form</title>
    <link rel="stylesheet" type='text/css' href="/static/login.css">
  </head>
  <body>
    <div class="container">
      <div class="blueBg">
      </div>
      <div class="formBx">
        <div class="form signinForm">
          <form method="post">
            {% csrf_token %}
            <h3>ورود</h3>
            {{ form.as_p }}
            <input type="submit" value="ورود">
            <button type="button"><a href="{% url 'account:signup' %}">ثبت نام</a></button>
            <button type="submit"><a href="{% url 'home:home' %}">صفحه اصلی</a></button>
            <a href="#" class="forget">آیا رمز خود را فراموش کرده اید؟</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
