{% extends 'base.html' %}
{% block title %}ویرایش پروفایل{% endblock %}
{% block content %}
  <ul>
    <h3>ویرایش پروفایل </h3>
<form method="post">
  {% csrf_token %}
  نام کاربری
  :
  <input type="text" name="username" value="{{user.username}}">

  <br>
  نام و نام خانوادگی
  :
  <input type="text" name="username" value="{{ user.get_full_name }}">

  <br>
  ایمیل
  :
  <input type="text" name="username" value="{{ user.email }}">

  <br>
  تلفن همراه
  :
  <input type="text" name="username" value="{{ request.user.mobile }}">

  <br>
  جنسیت
  :
  <input type="text" name="username" value="{{user.gender }}">

  <br>
  تاریخ تولد
  :
  <input type="text" name="username" value="  {{ user.birth_date }}">
</form>
<br>
<button type="submit" name="button"><a href="{% url 'password_reset' %}">تنظیم مجدد رمز عبور</a></button>
<br>
<button type="submit" name="button"><a href="{% url 'account:profile' %}">ویرایش شود</a></button>
{% endblock %}


<!--{% extends 'base.html' %}
{% block title %}ورود کاربران{% endblock %}

{% block home %}
<ul><h3>
  خوش آمدید
</h3></ul>
{% endblock %}

{% block content %}
  <ul>
    <h4>ورود کاربران </h4>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">ورود</button>
  <button type="submit"><a href="{% url 'home:home' %}">صفحه اصلی</a></button>
</form>
{% endblock %}
-->
