
/* ==========کدهای بالا مربوط به راستچین کردن صفحه میباشند======= */

.div-show-search-error {
color: red;
font-size: 24px;
text-align: center;
}
.show-search-list {
font-size: 18px;
text-align: center;
list-style-type: none;
}
a {
text-decoration: none;
}
a:hover {
color: #212529 !important;
background-color: #00ff0e;
font-weight: bold;
}
#resultsearchheader {
font-size: 18px;
text-align: center;
}
.d-flex {
margin-block-end: inherit;
}
.navbar-dark {
padding-top: 0rem;
padding-bottom: 0rem;
}
.navbar-brand {
padding-top: 0rem;
padding-bottom: 0rem;
}
.btn-outline-success {
color: #00ff0e !important;
background-color: #212529 !important;
border-color: #00ff0e !important;
}
.btn-outline-success:hover {
color: #000 !important;
background-color: #00ff0e !important;
border-color: #00ff0e !important;
}
#datetime {
color: #fff !important;
margin-right: .5rem;
}
.bi-clock {
color: #00ff0e;
}
.navbar-nav {
margin-right: 0rem !important;
}
.nav-link {
color: #fff !important;
}
