{% extends 'base.html' %}
{% block title %}محصولات{% endblock %}

{% block content %}
{% if category_list %}
  <ul>
    {% for category in category_list %}
    <li>
      {% if category.title == 'کتاب' %}
        <a href="{% url 'product:book_list' %}"> {{ category.title }} </a>
      {% else %}
        <a href=""> {{ category.title }} </a>
      {% endif %}
    </li>
    <br>
  {% endfor %}
</ul>
{% else %}
  <p>محصولی یافت نشد.</p>
{% endif %}
{% if user.is_authenticated %}
  <p><a href="{% url 'product:category_create' %}">ثبت دسته بندی جدید</a></p>
{% endif %}

{% endblock %}
