{% extends 'home/base.html' %}
{% block title %}ورود کاربران{% endblock %}
{% block content %}
  <ul>
    <h3>ورود کاربران </h3>
    <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>


<!--
  </ul>
  <form action="" method="post">
    {% csrf_token %}
    {% if error %}
      {{ error }}
    {% endif %}
    <ul>
      <label> نام کاربری :</label>
      <input type="text" name="username" value="{{ username }}"/>
    </ul>
    <br>
    <ul>
      <label>گذرواژه :</label>
      <input type="password" name="password"/>
      <br>
      <br>
      <button type="submit" onclick="window.location.href='{% url 'account:profile_detail' %}'">ورود</button>
    </ul>
  </form>
  -->
{% endblock %}
