<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}book_store{% endblock %}</title>
</head>
<body>
<a href="{% url 'home:home' %}">
    <img src="/static/logo3.png" alt="LOGO" width="50" height="40" class="d-inline-block align-middle">
    Bookstore
</a>
<br>
{% block content %}{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="/static/scripts.js"></script>
</body>
</html>
