{% extends 'base.html' %}
{% block title %} صفحه اصلی {% endblock %}
{% block home %}{% endblock %}

{% block content %}
    <!-- and profile.user == request.user -->
    {% block userauthenticated %}
      {% if user.is_authenticated %}
        {% if user.first_name %}
          {{ user.get_full_name }}
        {% else %}
          {{ user.username }}
        {% endif %}
        <br>
        <a href="{% url 'account:profile' %}">پروفایل</a>
      {% else %}
        <a href="{% url 'login' %}"> <p>ورود</p> </a>
        <p> / </p>
        <br>
        <a href="{% url 'account:signup' %}"> <p>ثبت نام</p> </a>
      {% endif %}
    {% endblock %}
        <li >
          <a href="{% url 'product:category_list' %}">محصولات</a>
        </li>
{% if user.is_authenticated %}
  {% if user.username == 'admin' %}
    <p><a href='admin/'>ادمین</a></p>
    <p><a href="{% url 'account:all_accounts' %}">کاربران</a></p>
  {% endif %}
{% endif %}
{% endblock %}
