{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block home %}{% endblock %}

{% block content %}
    </form>
    {% if user.is_authenticated %}
        Hello {{ user.username }}
        <br>
        <a href="{% url 'account:profile' %}">Profile</a>
        <br>
        <a href="{% url 'account:logout' %}">Logout</a>
        <br>
    {% else %}
        <a href="{% url 'account:login' %}"><p>Login</p></a>
        <p> / </p>
        <br>
        <a href="{% url 'account:signup' %}"><p>Sign up</p></a>
    {% endif %}
{% endblock %}
